streamlit
langchain
langgraph
sentence-transformers
transformers
faiss-cpu
nltk
langdetect
pandas
numpy
scikit-learn
plotly
python-dotenv
datasets
groq
langchain-groq
spacy
textblob
huggingface-hub
transformers
torch
sentencepiece
tiktoken
google-generativeai
